In [ ]:
if(!require('pacman')) {install.packages('pacman')} #if else statement
pacman::p_load(ISLR, readxl, tidyverse, magrittr, dplyr, ggplot2, ggrepel)

Loading required package: pacman

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘pacman’”
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


ISLR installed

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘Rcpp’



ggrepel installed

In [ ]:
data <- read.csv('https://raw.githubusercontent.com/K1ngHungry/DataScienceClub/main/MLPayData_Total.csv')

In [ ]:
data[1:4,] #1:4 for rows, keep all columns
#below each column is the data type of each variable

  team                 p1998    p1999    p2000    p2001     p2002     p2003
1 Arizona Diamondbacks 31.61450 70.49600 81.02783  81.20651 102.82000  80.64033
2 Atlanta Braves       61.70800 74.89000 84.53784  91.85169  93.47037 106.24367
3 Baltimore Orioles    71.86092 72.19836 81.44743  72.42633  60.49349  73.87750
4 Boston Red Sox       59.49700 71.72500 77.94033 109.55891 108.36606  99.94650
  p2004     p2005     p2006     ⋯ X2007.pct X2006.pct X2005.pct X2004.pct
1  70.20498  63.01583  59.68423 ⋯ 0.5555556 0.4691358 0.4753086 0.3148148
2  88.50779  85.14858  90.15688 ⋯ 0.5185185 0.4876543 0.5555556 0.5925926
3  51.21265  74.57054  72.58558 ⋯ 0.4259259 0.4320988 0.4567901 0.4814815
4 125.20854 121.31194 120.09982 ⋯ 0.5925926 0.5308642 0.5864198 0.6049383
  X2003.pct X2002.pct X2001.pct X2000.pct X1999.pct X1998.pct
1 0.5185185 0.6049383 0.5679012 0.5246914 0.6172840 0.4012346
2 0.6234568 0.6312500 0.5432099 0.5864198 0.6358025 0.6543210
3 0.4382716 0.4135802 0.3913043 0.4567901 0.4814815 0.4876543
4 0.5864198 0.5740741 0.5093168 0.5246914 0.5802469 0.5679012

In [ ]:
str(data, list.len = 4)

'data.frame':	30 obs. of  52 variables:
 $ Team.name.2014: chr  "Arizona Diamondbacks" "Atlanta Braves" "Baltimore Orioles" "Boston Red Sox" ...
 $ p1998         : num  31.6 61.7 71.9 59.5 49.8 ...
 $ p1999         : num  70.5 74.9 72.2 71.7 42.1 ...
 $ p2000         : num  81 84.5 81.4 77.9 60.5 ...
  [list output truncated]

In [ ]:
summary(data)

 Team.name.2014         p1998            p1999           p2000
 Length:30          Min.   : 8.317   Min.   :15.15   Min.   :16.52
 Class :character   1st Qu.:27.683   1st Qu.:31.67   1st Qu.:38.94
 Mode  :character   Median :43.895   Median :46.07   Median :56.54
                    Mean   :41.080   Mean   :48.19   Mean   :55.66
                    3rd Qu.:57.262   3rd Qu.:70.96   3rd Qu.:74.61
                    Max.   :71.861   Max.   :88.18   Max.   :92.54
     p2001            p2002            p2003            p2004
 Min.   : 24.35   Min.   : 34.38   Min.   : 19.63   Min.   : 27.52
 1st Qu.: 43.62   1st Qu.: 45.60   1st Qu.: 50.45   1st Qu.: 46.67
 Median : 62.85   Median : 61.11   Median : 68.98   Median : 62.21
 Mean   : 64.46   Mean   : 67.45   Mean   : 71.03   Mean   : 68.55
 3rd Qu.: 80.22   3rd Qu.: 79.94   3rd Qu.: 83.33   3rd Qu.: 86.89
 Max.   :109.79   Max.   :125.93   Max.   :152.75   Max.   :182.84
     p2005            p2006            p2007            p2008
 Min.   : 29.89   Min.   : 15.00   Min.   : 24.12   Min.   : 21.81
 1st Qu.: 50.26   1st Qu.: 59.99   1st Qu.: 63.03   1st Qu.: 66.45
 Median : 66.01   Median : 72.25   Median : 84.62   Median : 79.95
 Mean   : 72.75   Mean   : 77.56   Mean   : 82.63   Mean   : 89.55
 3rd Qu.: 86.88   3rd Qu.: 91.95   3rd Qu.: 98.55   3rd Qu.:118.18
 Max.   :205.94   Max.   :194.66   Max.   :189.64   Max.   :209.08
     p2009            p2010            p2011            p2012
 Min.   : 36.81   Min.   : 34.94   Min.   : 36.13   Min.   : 55.24
 1st Qu.: 67.49   1st Qu.: 61.74   1st Qu.: 62.81   1st Qu.: 76.13
 Median : 81.31   Median : 84.33   Median : 86.71   Median : 85.75
 Mean   : 88.35   Mean   : 91.02   Mean   : 92.99   Mean   : 98.02
 3rd Qu.:102.36   3rd Qu.:103.35   3rd Qu.:116.85   3rd Qu.:115.79
 Max.   :201.45   Max.   :206.33   Max.   :201.69   Max.   :197.96
     p2013            p2014            X2014          X2013
 Min.   : 22.06   Min.   : 44.54   Min.   :64.0   Min.   :51.00
 1st Qu.: 74.00   1st Qu.: 89.02   1st Qu.:73.0   1st Qu.:74.00
 Median : 90.39   Median :105.63   Median :80.5   Median :83.00
 Mean   :103.29   Mean   :115.13   Mean   :81.0   Mean   :81.03
 3rd Qu.:118.69   3rd Qu.:135.70   3rd Qu.:88.0   3rd Qu.:92.00
 Max.   :228.84   Max.   :235.30   Max.   :98.0   Max.   :97.00
     X2012           X2011            X2010           X2009
 Min.   :55.00   Min.   : 56.00   Min.   :57.00   Min.   : 59.00
 1st Qu.:72.25   1st Qu.: 72.00   1st Qu.:75.25   1st Qu.: 74.25
 Median :82.00   Median : 80.00   Median :81.00   Median : 83.50
 Mean   :81.00   Mean   : 80.97   Mean   :81.00   Mean   : 81.00
 3rd Qu.:92.25   3rd Qu.: 90.00   3rd Qu.:90.00   3rd Qu.: 87.75
 Max.   :98.00   Max.   :102.00   Max.   :97.00   Max.   :103.00
     X2008            X2007           X2006           X2005
 Min.   : 59.00   Min.   :66.00   Min.   :61.00   Min.   : 56.00
 1st Qu.: 74.00   1st Qu.:72.25   1st Qu.:76.00   1st Qu.: 73.25
 Median : 83.00   Median :82.50   Median :80.00   Median : 81.00
 Mean   : 80.93   Mean   :81.03   Mean   :80.97   Mean   : 81.00
 3rd Qu.: 89.00   3rd Qu.:88.75   3rd Qu.:88.00   3rd Qu.: 88.75
 Max.   :100.00   Max.   :96.00   Max.   :97.00   Max.   :100.00
     X2004            X2003            X2002            X2001
 Min.   : 51.00   Min.   : 43.00   Min.   : 55.00   Min.   : 62.00
 1st Qu.: 70.25   1st Qu.: 71.00   1st Qu.: 72.00   1st Qu.: 69.25
 Median : 83.00   Median : 84.50   Median : 79.50   Median : 82.00
 Mean   : 80.93   Mean   : 80.97   Mean   : 80.83   Mean   : 80.93
 3rd Qu.: 91.75   3rd Qu.: 89.50   3rd Qu.: 93.75   3rd Qu.: 89.50
 Max.   :105.00   Max.   :101.00   Max.   :103.00   Max.   :116.00
     X2000           X1999            X1998          X2014.pct
 Min.   :65.00   Min.   : 63.00   Min.   : 54.00   Min.   :0.3951
 1st Qu.:72.25   1st Qu.: 70.50   1st Qu.: 72.50   1st Qu.:0.4506
 Median :82.00   Median : 77.50   Median : 79.50   Median :0.4969
 Mean   :80.93   Mean   : 80.90   Mean   : 81.00   Mean   :0.5000
 3rd Qu.:89.25   3rd Qu.: 94.75   3rd Qu.: 88.75   3rd Qu.:0.5432
 Max.   :97.00   Max.   :103.00   Max.   :114.00   Max.   :0.6049
   X2013.pct        X2012.pct        X2011.pct        X2010.pct
 Min.   :0.3148   Min.   :0.3395   Min.   :0.3457   Min.   :0.3519
 1st Qu.:0.4568   1st Qu.:0.4460   1st Qu.:0.4444   1st Qu.:0.4645
 Median :0.5123   Median :0.5062   Median :0.4954   Median :0.5000
 Mean   :0.5000   Mean   :0.5000   Mean   :0.5000   Mean   :0.5000
 3rd Qu.:0.5670   3rd Qu.:0.5694   3rd Qu.:0.5556   3rd Qu.:0.5556
 Max.   :0.5988   Max.   :0.6049   Max.   :0.6296   Max.   :0.5988
   X2009.pct        X2008.pct        X2007.pct        X2006.pct
 Min.   :0.3642   Min.   :0.3665   Min.   :0.4074   Min.   :0.3765
 1st Qu.:0.4583   1st Qu.:0.4568   1st Qu.:0.4460   1st Qu.:0.4691
 Median :0.5170   Median :0.5123   Median :0.5093   Median :0.4938
 Mean   :0.5000   Mean   :0.5000   Mean   :0.5000   Mean   :0.5000
 3rd Qu.:0.5417   3rd Qu.:0.5485   3rd Qu.:0.5453   3rd Qu.:0.5432
 Max.   :0.6358   Max.   :0.6173   Max.   :0.5926   Max.   :0.5988
   X2005.pct        X2004.pct        X2003.pct        X2002.pct
 Min.   :0.3457   Min.   :0.3148   Min.   :0.2654   Min.   :0.3416
 1st Qu.:0.4522   1st Qu.:0.4357   1st Qu.:0.4383   1st Qu.:0.4451
 Median :0.5000   Median :0.5123   Median :0.5216   Median :0.4923
 Mean   :0.5000   Mean   :0.4999   Mean   :0.5000   Mean   :0.5000
 3rd Qu.:0.5478   3rd Qu.:0.5664   3rd Qu.:0.5525   3rd Qu.:0.5814
 Max.   :0.6173   Max.   :0.6481   Max.   :0.6235   Max.   :0.6398
   X2001.pct        X2000.pct        X1999.pct        X1998.pct
 Min.   :0.3827   Min.   :0.4012   Min.   :0.3937   Min.   :0.3333
 1st Qu.:0.4275   1st Qu.:0.4460   1st Qu.:0.4352   1st Qu.:0.4496
 Median :0.5077   Median :0.5062   Median :0.4784   Median :0.4907
 Mean   :0.5000   Mean   :0.5000   Mean   :0.4999   Mean   :0.5000
 3rd Qu.:0.5525   3rd Qu.:0.5518   3rd Qu.:0.5849   3rd Qu.:0.5453
 Max.   :0.7160   Max.   :0.5988   Max.   :0.6358   Max.   :0.7037

In [ ]:
?names #? operator pulls up the documentation

In [ ]:
names(data) #variable names are under the columns

 [1] "Team.name.2014" "p1998"          "p1999"          "p2000"
 [5] "p2001"          "p2002"          "p2003"          "p2004"
 [9] "p2005"          "p2006"          "p2007"          "p2008"
[13] "p2009"          "p2010"          "p2011"          "p2012"
[17] "p2013"          "p2014"          "X2014"          "X2013"
[21] "X2012"          "X2011"          "X2010"          "X2009"
[25] "X2008"          "X2007"          "X2006"          "X2005"
[29] "X2004"          "X2003"          "X2002"          "X2001"
[33] "X2000"          "X1999"          "X1998"          "X2014.pct"
[37] "X2013.pct"      "X2012.pct"      "X2011.pct"      "X2010.pct"
[41] "X2009.pct"      "X2008.pct"      "X2007.pct"      "X2006.pct"
[45] "X2005.pct"      "X2004.pct"      "X2003.pct"      "X2002.pct"
[49] "X2001.pct"      "X2000.pct"      "X1999.pct"      "X1998.pct"

In [ ]:
data <- data %>% rename(team = Team.name.2014) #piping
data[1:4, ]

  team                 p1998    p1999    p2000    p2001     p2002     p2003
1 Arizona Diamondbacks 31.61450 70.49600 81.02783  81.20651 102.82000  80.64033
2 Atlanta Braves       61.70800 74.89000 84.53784  91.85169  93.47037 106.24367
3 Baltimore Orioles    71.86092 72.19836 81.44743  72.42633  60.49349  73.87750
4 Boston Red Sox       59.49700 71.72500 77.94033 109.55891 108.36606  99.94650
  p2004     p2005     p2006     ⋯ X2007.pct X2006.pct X2005.pct X2004.pct
1  70.20498  63.01583  59.68423 ⋯ 0.5555556 0.4691358 0.4753086 0.3148148
2  88.50779  85.14858  90.15688 ⋯ 0.5185185 0.4876543 0.5555556 0.5925926
3  51.21265  74.57054  72.58558 ⋯ 0.4259259 0.4320988 0.4567901 0.4814815
4 125.20854 121.31194 120.09982 ⋯ 0.5925926 0.5308642 0.5864198 0.6049383
  X2003.pct X2002.pct X2001.pct X2000.pct X1999.pct X1998.pct
1 0.5185185 0.6049383 0.5679012 0.5246914 0.6172840 0.4012346
2 0.6234568 0.6312500 0.5432099 0.5864198 0.6358025 0.6543210
3 0.4382716 0.4135802 0.3913043 0.4567901 0.4814815 0.4876543
4 0.5864198 0.5740741 0.5093168 0.5246914 0.5802469 0.5679012

In [ ]:
names(data)

 [1] "team"      "p1998"     "p1999"     "p2000"     "p2001"     "p2002"
 [7] "p2003"     "p2004"     "p2005"     "p2006"     "p2007"     "p2008"
[13] "p2009"     "p2010"     "p2011"     "p2012"     "p2013"     "p2014"
[19] "X2014"     "X2013"     "X2012"     "X2011"     "X2010"     "X2009"
[25] "X2008"     "X2007"     "X2006"     "X2005"     "X2004"     "X2003"
[31] "X2002"     "X2001"     "X2000"     "X1999"     "X1998"     "X2014.pct"
[37] "X2013.pct" "X2012.pct" "X2011.pct" "X2010.pct" "X2009.pct" "X2008.pct"
[43] "X2007.pct" "X2006.pct" "X2005.pct" "X2004.pct" "X2003.pct" "X2002.pct"
[49] "X2001.pct" "X2000.pct" "X1999.pct" "X1998.pct"

In [ ]:
payroll <- data %>%   # first create variable: payroll and year
  select(team, p1998:p2014) %>% 
  pivot_longer(cols = starts_with("p"), 
               names_to = "year", 
               names_prefix = "p",
               values_to = "payroll")
payroll[1:3, 1:3] # show a few rows

win_num <- data %>%  # create variable: win_num and year
  select(team, X1998:X2014) %>% 
  pivot_longer(cols = X1998:X2014,
               names_to = "year", 
               names_prefix = "X",
               values_to = "win_num")
#win_num[1:3, 1:3]

win_pct <- data %>%  # create variable: win_pct and year
  select(team, X1998.pct:X2014.pct) %>% 
  pivot_longer(cols = X1998.pct:X2014.pct,
               names_to = "year",
               names_prefix = "X", 
               values_to = "win_pct") %>%
  mutate(year = substr(year, 1, 4))
#win_pct[1:3, 1:3]

# join tables into team, year, payrow, win_num, win_pct
data_long <- payroll %>% 
  inner_join(win_num, by = c("team", "year")) %>%
  inner_join(win_pct, by = c("team", "year")) 
head(data_long, 2)  # see first 2 rows

  team                 year payroll
1 Arizona Diamondbacks 1998 31.61450
2 Arizona Diamondbacks 1999 70.49600
3 Arizona Diamondbacks 2000 81.02783

  team                 year payroll win_num win_pct
1 Arizona Diamondbacks 1998 31.6145  65     0.4012346
2 Arizona Diamondbacks 1999 70.4960 100     0.6172840